<div class="container" style="margin-bottom: 5%;">
    <br>
    <div class="card" style="margin-left: 20%;margin-right: 20%;">
        <h4 class="card-header">{{ title }}</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="account">Account Number</label>
                    <input type="number" formControlName="account" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.account.errors }" />
                    <div *ngIf="submitted && f.account.errors" class="invalid-feedback">
                        <div *ngIf="f.account.errors.required">it is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ifsc">IFSC</label>
                    <input type="text" formControlName="ifsc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ifsc.errors }" />
                    <div *ngIf="submitted && f.ifsc.errors" class="invalid-feedback">
                        <div *ngIf="f.ifsc.errors.required">it is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="altAccount">Alternative Account Number</label>
                    <input type="number" formControlName="altAaccount" class="form-control" />
                </div>
                    <div class="form-group">
                        <label for="altifsc">Alternative IFSC</label>
                        <input type="text" formControlName="altifsc" class="form-control" />
                    </div>
                <h3>Nominee Detail</h3>
                <br>
                <div class="form-group">
                    <label for="nominee"> Name</label>
                    <input type="text" formControlName="nominee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nominee.errors }" />
                    <div *ngIf="submitted && f.nominee.errors" class="invalid-feedback">
                        <div *ngIf="f.nominee.errors.required">it is required</div>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="nomineeRel"> Relation</label>
                    <input type="text" formControlName="nomineeRel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomineeRel.errors }" />
                    <div *ngIf="submitted && f.nomineeRel.errors" class="invalid-feedback">
                        <div *ngIf="f.nomineeRel.errors.required">it is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nomineePhone">Phone No</label>
                    <input type="number" formControlName="nomineePhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomineePhone.errors }" />
                    <div *ngIf="submitted && f.nomineePhone.errors" class="invalid-feedback">
                        <div *ngIf="f.nomineePhone.errors.required">it is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nomineeEmail">Email</label>
                    <input type="email" formControlName="nomineeEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="nomineeAddress">Address</label>
                    <textarea type="text" formControlName="nomineeAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomineeAddress.errors }" ></textarea>
                    <div *ngIf="submitted && f.nomineeAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.nomineeAddress.errors.required">it is required</div>
                    </div>
                </div>
    
                <div class="form-group" style="text-align-last: center;">
                    <button [disabled]="loading" class="btn btn-primary" >
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Next
                    </button>
                    &nbsp;
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
